<ion-header dir="ltr" class="ion-no-border">
  <ion-toolbar>
    <ion-title>icons</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="8" size-lg="8" size-md="6" size-xs="12" size="12">
        <ion-row>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" size="12">
            <ion-item>
            <ion-button routerLink="/icons">بازگشت به دسته بندی آیکونها</ion-button>
            </ion-item>
          </ion-col>
          <ion-col size-xl="12" size-lg="12" size-md="12" size-xs="12" size="12">
            <div>
              <ion-input class="custom"  clearInput="true"
                         (ionChange)="search($event)"  placeholder="جستجوی آیکون" ></ion-input>
              <div *ngIf=" icons.length>0 && searchIcons.length===0 && empty ">
              <ng-container *ngFor="let item of icons">
                <tamin-icon size="large" name="{{ item.name }}" (click)="openPopover(item.name)" class="icon"></tamin-icon>
              </ng-container>
              </div>
              <div *ngIf=" searchIcons.length>0 ">
                <ng-container *ngFor="let item of searchIcons">
                  <tamin-icon size="large" name="{{ item.name }}" (click)="openPopover(item.name)" class="icon"></tamin-icon>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

