<div class="count-down-timer" dir="ltr">
  <h3>{{ timer$ | async | time }}</h3>

  <div class="flex">
    <input class="input" *ngFor="let _ of [].constructor(inputNo); let i = index" (keyup)="onDigitInput(i, $event)"
           (input)="setValue(i, $event)"
           (change)="setValue(i, $event)"
           (blur)="onTouchedFn()" [required]="required"
           type="text" size="1" maxlength="1">
  </div>
  <div *ngIf="showError" style="color: red">
    {{errors[0]}}
  </div>
  <ion-button (click)="generateOtpCodeAndSendSms()">دریافت کد اعتباری یکبار مصرف</ion-button>
</div>
