.circle{
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid var(--ion-color-primary);
  text-align: center;
  font-size: 14px;

}

.padding{
  padding-right: 10px !important;
}
