<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        اطلاعات کاربر
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        کد ملی
      </ion-label>
      <ion-label slot="end">
          {{ data.nationalCode }}
      </ion-label>
      <ion-icon size="small" slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        تاریخ تولد
      </ion-label>
      <ion-label slot="end">
          {{getDate(data.birthDate)}}
      </ion-label>
      <ion-icon size="small" slot="end"   name="calendar-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        پست الکترونیک
      </ion-label>
      <ion-label slot="end">
        {{data.email}}
      </ion-label>
      <ion-icon size="small" slot="end"  name="mail-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        تلفن همراه
      </ion-label>
      <ion-label slot="end">
        {{data.mobile}}
      </ion-label>
      <ion-icon size="small" slot="end" name="call-outline"></ion-icon>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        تنظیمات
      </ion-label>
    </ion-item-divider>
    <ion-item button="true" detail="true" (click)="openChangePasswordModal()">
      <ion-label>
        تغییر گذرواژه
      </ion-label>
      <ion-icon class="margin-left" size="small" slot="start" name="lock-open-outline"></ion-icon>
    </ion-item>
    <ion-item button="true" detail="true" (click)="openChangeAddressModal()">
      <ion-label>
        تغییر آدرس
      </ion-label>
      <ion-icon class="margin-left" size="small" slot="start" name="location-outline"></ion-icon>
    </ion-item>
    <ion-item button="true" detail="true" (click)="openChangePhoneNoModal()">
      <ion-label>
        تغییر شماره تلفن همراه
      </ion-label>
      <ion-icon class="margin-left" size="small" slot="start" name="phone-portrait-outline"></ion-icon>
    </ion-item>
    <ion-item button="true" detail="true">
      <ion-label>
        دریافت تصویر
      </ion-label>
      <ion-icon class="margin-left" size="small" slot="start" name="camera-outline"></ion-icon>
    </ion-item>
    <ion-item button="true">
      <ion-label>
        انتخاب زمینه
      </ion-label>
      <ion-toggle slot="end"></ion-toggle>
      <ion-icon class="margin-left" size="small" slot="start" name="moon-outline"></ion-icon>
    </ion-item>
  </ion-item-group>
</ion-list>

