<ion-header  dir="ltr" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Getting Started</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--  <form [formGroup]="form">-->
<!--<tamin-select-searchable  formControlName="title" [configuration]="config"  (valueList)="getvalue($event)" ></tamin-select-searchable>-->
<!--  </form>-->
<!--<button (click)="test()">bgfgfhgfgh</button>-->
  <tamin-progress-bar [value]=progress [color]="'warning'"></tamin-progress-bar>
<!--  <ion-card class="ion-margin">-->
<!--          <ion-item color="secondary">-->
<!--            <ion-label>ساختار مولتی اپلیکیشن در یک پروژه</ion-label>-->
<!--          </ion-item>-->
<!--          <div class="ion-text-center ion-padding">-->
<!--              <img src="./assets/img/s1.png" />-->
<!--          </div>-->
<!--          <div class="ion-text-center ion-padding-bottom">-->
<!--            <img src="./assets/img/s2.png" />-->
<!--        </div>-->
<!--          <ion-item color="secondary">-->
<!--            <ion-label>ایجاد Module بر اساس Routing مبتنی بر Lazy loading</ion-label>-->
<!--          </ion-item>-->
<!--          <div class="ion-text-center ion-padding">-->
<!--            <img src="./assets/img/s4.png" />-->
<!--          </div>-->
<!--        </ion-card>-->
</ion-content>

