.checker {
    display: flex;
    flex-direction: row;
  }
  
  .checkerBar {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding-right: 0;
    padding-top: 13px;
    vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .point {
    background: #ddd;
    border-radius: 4px;
    display: inline-block;
    height: 20px;
    margin-left: 12px;
    flex-grow: 1;
  }
  
  p {
    text-align: center;
    border: 1px solid #ddd;
    margin-right: 12px;
    flex-grow: 0.1;
    border-radius: 4px;
  }
  