<ion-content class="color">
  <div class="box">
    <ion-toolbar color="transparent">
      <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        تغییر گذرواژه
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="form.reset()">
          <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <p class="note">در این بخش می توانید با درج گذرواژه فعلی، نسبت به تغییر آن و درج گذرواژه جدید اقدام نمایید.چنانچه
      گذرواژه فعلی خود را فراموش نموده اید از حساب کاربری خود خارج شده و از طریق گزینه "فراموشی گذرواژه" از منوی پایین
      صفحه با استفاده از دریافت کد صحت سنجی از طریق پیامک نسبت به تغییر گذرواژه خود اقدام نمایید.</p>

  </div>
  <div class="main">
    <form [formGroup]="form">
      <ion-row>

        <ion-col size="12">
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label>
              گذرواژه فعلی
            </ion-label>
            <ion-input formControlName="oldPassword" type="password"></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('oldPassword')?.hasError('required') && (form.get('oldPassword')?.dirty || form.get('oldPassword')?.touched)"
            class="error-message">
            {{ requiredErrMsg }}
          </div>
        </ion-col>


        <ion-col size="12">

          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label>
              گذرواژه جدید
            </ion-label>
            <ion-input formControlName="passwordFieldName" type="password"></ion-input>

          </ion-item>
          <div
            *ngIf="form.get('passwordFieldName')?.hasError('required') && (form.get('passwordFieldName')?.dirty || form.get('passwordFieldName')?.touched)"
            class="error-message">
            {{ requiredErrMsg }}
          </div>
        </ion-col>

        <ion-col size="12">
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label>
              تکرار گذرواژه جدید
            </ion-label>
            <ion-input [debounce]="1000" formControlName="repeatedPasswordFieldName" type="password"></ion-input>
          </ion-item>
          <div
            *ngIf="form.get('repeatedPasswordFieldName')?.hasError('required') && (form.get('repeatedPasswordFieldName')?.dirty || form.get('repeatedPasswordFieldName')?.touched)"
            class="error-message">
            {{ requiredErrMsg }}
          </div>
          <div class="error-message"
               *ngIf="form.get('repeatedPasswordFieldName')?.hasError('comparisonValidator')">
            {{confirmPasswordError}}
          </div>
        </ion-col>
      </ion-row>
      <tamin-password-checker [passwordToCheck]="form.get('passwordFieldName')?.value"
                              (passwordChecker)="onPasswordCheckerChanged($event)"></tamin-password-checker>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-button (click)="changePassword()" expand="block" [disabled]="!form.valid">
      ثبت گذرواژه جدید
    </ion-button>
  </ion-toolbar>
</ion-footer>

