<!--
<tamin-row>
  <tamin-col class="col-xs-12
              col-md-6
               col-lg-4" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </tamin-col>
  <tamin-col class="col-xs-12
              col-md-6
               col-lg-4" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </tamin-col>
  <tamin-col class="col-xs-12
              col-md-6
               col-lg-4" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </tamin-col>
</tamin-row>



<tamin-row class="center-xs">
  <tamin-col class="col-xs-6">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </tamin-col>
</tamin-row>-->
