<ion-app>
  <tamin-base [config]='configuration'></tamin-base>
</ion-app>

<!--<tamin-select-searchable></tamin-select-searchable>-->
<!--<div style="margin: 50px">-->
<!--  <tamin-slider [imgsrc]= 'imgsrc' ></tamin-slider>-->
<!--</div>-->

<!--
  <tamin-steper-group (changeSteper)="changeSteper($event)">
      <tamin-steper [disabled]="true"  [order]="'1'" [header]="'1st Accordion'" [value]="'1'">
        <ion-item>
          <ion-label >1st Accordion</ion-label>
        </ion-item>
        <ion-item >
          <ion-label >1st Accordion</ion-label>
        </ion-item>
        <ion-item>
          <ion-label >1st Accordion</ion-label>
        </ion-item>
      </tamin-steper>


    <tamin-steper [order]="'2'"  [header]="'2nd Accordion'" [value]="'2'" >
      <ion-item >
        <ion-label >2nd  Accordion</ion-label>
      </ion-item>
      <ion-item >
        <ion-label >2nd Accordion</ion-label>
      </ion-item>
      <ion-item>
        <ion-label >2nd Accordion</ion-label>
      </ion-item>
    </tamin-steper>

    <tamin-steper [order]="'3'" [header]="'3rd Accordion'" [value]="'3'" >
      <ion-item >
        <ion-label >3rd  Accordion</ion-label>
      </ion-item>
      <ion-item >
        <ion-label >3rd Accordion</ion-label>
      </ion-item>
      <ion-item>
        <ion-label >3rd Accordion</ion-label>
      </ion-item>
    </tamin-steper>

    <tamin-steper [order]="'4'" [header]="'4th Accordion'" [value]="'4'" >
      <ion-item>
        <ion-label >3rd  Accordion</ion-label>
      </ion-item>
      <ion-item >
        <ion-label >3rd Accordion</ion-label>
      </ion-item>
      <ion-item>
        <ion-label >3rd Accordion</ion-label>
      </ion-item>
    </tamin-steper>
  </tamin-steper-group>
-->

